# **Лабораторная работа №1**
## **Работа с библиотекой pandas**
## **Вариант 6: Cтуденты-2**
**Цель работы**: познакомиться с использованием библиотеки pandas при решении практических задач анализа данных на примере информации о студентах.

Датасет содержит сведения о студентах, их семьях, образовании родителей, успеваемости и некоторых дополнительных факторах, которые могут влиять на успехи студентов. Смысл задачи — выявить закономерности между характеристиками семьи, образованием родителей и результатами обучения, а также получить статистическую информацию о студентах.

Набор данных включает следующие атрибуты:
* school – школа ('GP' – Gabriel Pereira или 'MS' – Mousinho da Silveira)
* sex – пол студента ('F' – female или 'M' – male);
* age – возраст студента;
* address – домашний адрес студента ('U' – городской или 'R' – сельский);
* famsize – размер семьи ('LE3' – меньше или равно 3 или 'GT3' – больше
чем 3);
* Pstatus – статус совместного проживания родителей ('T' – совместное
проживание или 'A' – раздельное проживание);
* Medu – образование матери (0 – нет, 1 – начальное (4 класс), 2-9 классы,
3 – среднее или 4 – высшее);
* Fedu – образование отца (0 – нет, 1 – начальное (4 класс), 2-9 классы, 3 –
среднее или 4 – высшее);
* Mjob – работа матери (учитель, медицинское обслуживание, связанные с
гражданскими услугами (административными или полицейскими), на дому или
другое);
* Fjob – работа отца (учитель, медицинское обслуживание, связанные с
гражданскими услугами (административными или полицейскими), на дому или
другое);
* famrel – качество семейных отношений (от 1 – очень плохо до 5 – от-
лично);
* freetime – свободное время после школы (от 1 – очень мало до 5 – очень
много);
* goout – встречи с друзьями (от 1 – очень мало до 5 – очень много);
Dalc (Daily Alcohol Consumption) – потребление алкоголя в рабочий день
(от 1 – очень низкое до 5 – очень высокое);
* Walc (Weekly Alcohol Consumption) – еженедельное потребление алко-
голя (от 1 – очень низкое до 5 – очень высокое);
health – текущее состояние здоровья (от 1 – очень плохое до 5 – очень
хорошее);
* absences – количество пропусков занятий в школе (от 0 до 93);
* G1 – оценка за первый период (от 0 до 20);
* G2 – оценка за второй период (от 0 до 20);
* G3 – итоговая оценка (от 0 до 20, целевой результат).

## 1. Импортируем необходимые библиотеки

In [ ]:
import numpy as np
import pandas as pd

## 2. Импортируем набор данных из файла student-mat.csv

In [ ]:
df = pd.read_csv('student-mat.csv')

## 3. Выведем 10 первых строк

In [ ]:
print(df.head(10))

  school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0     GP   F   18       U     GT3       A     4     4   at_home   teacher
1     GP   F   17       U     GT3       T     1     1   at_home     other
2     GP   F   15       U     LE3       T     1     1   at_home     other
3     GP   F   15       U     GT3       T     4     2    health  services
4     GP   F   16       U     GT3       T     3     3     other     other
5     GP   M   16       U     LE3       T     4     3  services     other
6     GP   M   16       U     LE3       T     2     2     other     other
7     GP   F   17       U     GT3       A     4     4     other   teacher
8     GP   M   15       U     LE3       A     3     2  services     other
9     GP   M   15       U     GT3       T     3     4     other     other

   ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0  ...      4        3      4     1     1      3        6   5   6   6
1  ...      5        3      3     1     1      3        4   5   5   6
2  ...      4        3      2     2     3      3       10   7   8  10
3  ...      3        2      2     1     1      5        2  15  14  15
4  ...      4        3      2     1     2      5        4   6  10  10
5  ...      5        4      2     1     2      5       10  15  15  15
6  ...      4        4      4     1     1      3        0  12  12  11
7  ...      4        1      4     1     1      1        6   6   5   6
8  ...      4        2      2     1     1      1        0  16  18  19
9  ...      5        5      1     1     1      5        0  14  15  15

[10 rows x 33 columns]

## 4. Сколько строк и столбцов данных?

In [ ]:
print(f"Строк: {df.shape[0]}, Столбцов: {df.shape[1]}")

Строк: 395, Столбцов: 33

## 5. Получите сводную информацию по датафрейму

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

## 6. Что является индексом этого набора данных?

In [ ]:
print(df.index)

RangeIndex(start=0, stop=395, step=1)

## 7. Создайте новый датафрейм fam, выполнив срез от столбца school до  столбца famrel и удалив все столбцы от traveltime до romantic включительно (оставив только характеристики семьи)

In [ ]:
fam = df.loc[:, 'school':'famrel'].copy()
print(fam.head())
print(f"Количество строк в 'fam': {fam.shape[0]}, Столбцов в 'fam': {fam.shape[1]}")

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  ...  \
0     GP   F   18       U     GT3       A     4     4  at_home   teacher  ...
1     GP   F   17       U     GT3       T     1     1  at_home     other  ...
2     GP   F   15       U     LE3       T     1     1  at_home     other  ...
3     GP   F   15       U     GT3       T     4     2   health  services  ...
4     GP   F   16       U     GT3       T     3     3    other     other  ...

  failures schoolsup  famsup  paid  activities nursery higher internet  \
0        0       yes      no    no          no     yes    yes       no
1        0        no     yes    no          no      no    yes      yes
2        3       yes      no   yes          no     yes    yes      yes
3        0        no     yes   yes         yes     yes    yes      yes
4        0        no     yes   yes          no     yes    yes       no

  romantic famrel
0       no      4
1       no      5
2       no      4
3      yes      3
4       no      4

[5 rows x 24 columns]
Количество строк в 'fam': 395, Столбцов в 'fam': 24

## 8. Определите процент городских и сельских студентов в каждой школе

In [ ]:
address_percentage = df.groupby('school')['address'].value_counts(normalize=True).mul(100).unstack(fill_value=0)
print(address_percentage.round(2))

address      R      U
school
GP       18.05  81.95
MS       54.35  45.65

## 9. У какого процента студентов (по школам) и мать и отец имеют высшее  образование?

In [ ]:
higher_edu_parents = df[(df['Medu'] == 4) & (df['Fedu'] == 4)]
percentage_higher_edu = higher_edu_parents.groupby('school').size() / df.groupby('school').size() * 100
print(percentage_higher_edu.fillna(0).round(2))

school
GP    17.77
MS    17.39
dtype: float64

## 10. У какого процента студентов (по школам) и мать и отец вообще не  имеют образования?

In [ ]:
no_edu_parents = df[(df['Medu'] == 0) & (df['Fedu'] == 0)]
percentage_no_edu = no_edu_parents.groupby('school').size() / df.groupby('school').size() * 100
print(percentage_no_edu.fillna(0).round(2))

school
GP    0.0
MS    0.0
dtype: float64

## 11. Какой процент родителей, имеющих высшее образование, проживает  совместно?

In [ ]:
parents_with_any_higher_edu = df[(df['Medu'] == 4) | (df['Fedu'] == 4)]
living_together_among_higher_edu = (parents_with_any_higher_edu['Pstatus'] == 'T').mean() * 100
print(f"{living_together_among_higher_edu:.2f}%")

86.62%

## 12. Определите процент семей, в которых один из родителей имеет высшее  образование, а другой не имеет, но проживают совместно

In [ ]:
condition_one_higher_one_none = (
    ((df['Medu'] == 4) & (df['Fedu'] == 0)) |
    ((df['Medu'] == 0) & (df['Fedu'] == 4))
)
condition_living_together = (df['Pstatus'] == 'T')

target_families = df[condition_one_higher_one_none & condition_living_together]
percent_target_families = (len(target_families) / len(df)) * 100
print(f"{percent_target_families:.2f}%")

0.25%

## 13. Какое качество семейных отношений в этих семьях?

In [ ]:
print(target_families['famrel'].describe().round(2))

count    1.0
mean     3.0
std      NaN
min      3.0
25%      3.0
50%      3.0
75%      3.0
max      3.0
Name: famrel, dtype: float64

## 14. У скольких студентов работа одного или обоих родителей связана с  гражданскими услугами (административными или полицейскими)?

In [ ]:
civil_services_parents_students = df[
    (df['Mjob'] == 'services') | (df['Fjob'] == 'services')
]
print(f"Количество студентов: {len(civil_services_parents_students)}")

Количество студентов: 171

## 15. Преобразуйте значения числового столбца age в числа с плавающей запятой и получите сводку статистик для этого столбца

In [ ]:
df['age'] = df['age'].astype(float)
print(df['age'].describe().round(2))

count    395.00
mean      16.70
std        1.28
min       15.00
25%       16.00
50%       17.00
75%       18.00
max       22.00
Name: age, dtype: float64